/* Скидання стилів */
@import url('fonts.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.footer {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*='__container'] {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1350px;
}

/* Practice Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}
.menu {
  font-family: 'Adamina';
  background-color: #473186;
  font-size: 0;
  border-radius: 0 0 20px 20px;
  color: white;
}

.menu__item {
  position: relative;
  display: inline-block;
  z-index: 90;
}

.menu__item:hover {
  background-color: #a571d0;
}

.menu__item:first-child:hover {
  border-end-start-radius: 20px;
}

.menu__item:has(.menu__sub-menu)::after {
  content: 'sd';
  position: absolute;
  top: 45%;
  left: 85%;
  width: 10px;
  height: 15px;
  border-top: 15px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.menu__item:hover .menu__sub-menu {
  opacity: 1;
  visibility: visible;
}

.menu__link {
  padding: 20px 40px;
  font-size: 30px;
}

.menu__sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.sub-menu {
  background-color: #350f52;
}

.sub-menu__item {
  position: relative;
  padding: 10px 40px 10px;
}

.sub-menu__item:hover {
  background-color: #5b2089;
}

.sub-menu__item:hover .sub-menu__sub-sub-menu {
  opacity: 1;
  visibility: visible;
}

.sub-menu__item:not(:last-child) {
  padding-bottom: 15px;
}

.sub-menu__item:has(.sub-menu__sub-sub-menu)::after {
  content: 'sd';
  position: absolute;
  top: 30%;
  left: 90%;
  width: 10px;
  height: 15px;
  border-left: 15px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.sub-menu__link {
  font-size: 25px;
}

.sub-menu__sub-sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.sub-sub-menu {
  background-color: #46394f;
}

.sub-sub-menu__item {
  padding: 15px 40px;
}

.sub-sub-menu__item:hover {
  background-color: #715c80;
}

.sub-sub-menu-link {
  font-size: 20px;
}

/* Task */

.checkout-section {
  padding: 32px 0 80px;
}

.form-container {
  display: flex;
  gap: 24px;
}

.form-container__left-part {
  flex-basis: 872px;
}

.block-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.block-title--margin-20 {
  margin-bottom: 20px;
}

[class$='info-section']:not(:last-child) {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e6e6e6;
}

.billing-info-section__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.three-column-group,
.two-column-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.three-column-group__input-block {
  flex-basis: 280px;
  flex-grow: 1;
}
.input-block {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
}

.label {
  align-self: flex-start;
  line-height: 1.5;
}

.label > span {
  color: #808080;
}

.text-input,
.select-input {
  padding: 14px 16px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.3;
}

.text-input::placeholder {
  font-size: 16px;
  line-height: 1.3;
  transition: opacity 0.3s ease;
}

.text-input:focus::placeholder {
  opacity: 0;
}

.select-input {
  color: #999;
  appearance: none;
}
.select-input > option {
  color: black;
}
.select-input:valid {
  color: black;
}

.input-block--with-arrow::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 45px;
  right: 16px;
  background: url(../img/arrow-down.svg) no-repeat;
}

.two-column-group__input-block {
  flex-basis: 428px;
  flex-grow: 1;
}



.checkbox-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-label span {
  display:inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.checkbox-label > span::before {
  content: '✔';
  color: white;
  width: 20px;
  height: 20px;
  align-self: start;
  border: 1px solid #cccccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-label > .checkbox-input:checked + span::before {
  background-color: #00b207;
}

.checkbox-label > .checkbox-input:focus-visible + span{
  outline: 1px solid #000;
}

.input-block--text-area > .text-input {
  min-height: 100px;
  resize: vertical;
}

/* rigth part */

.form-container__right-part {
  flex-basis: 424px;
  flex-shrink: 0;
  padding: 24px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  align-self: flex-start;
  line-height: 1.5;
}
.order-summery {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}
.block-title--margin-16{
  margin-bottom: 16px;
}

.product-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}
.product-summary__link {
  display: flex;
  align-items: center;
  gap:6px;
}

.product-summary__link p {
   transition: font-weight, 0.2s ease;
}

.product-summary__link:hover p{
  font-weight: 600;
}

.product-summary__img {
  width: 60px;
  height: 60px;
}

[class$= "price"] {
  font-weight: 500;
}
.pricing-summary {
  display: flex;
  flex-direction: column;
}
.pricing-summary__item {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  gap:10px;
}

.pricing-summary__item:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px solid #E6E6E6;
}

.payment-method {
  margin-bottom: 24px;
}

.payment-method__item:not(:last-child){
  margin-bottom: 10px;
}

.radio-button {
  cursor: pointer;
}
.radio-button__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.radio-button__label {
  display: inline-flex;
  align-items: center;
  gap:10px;
}

.radio-button__label::before{
  content:'';
  width: 20px;
  height: 20px;
  align-self: flex-start;
  border:1px solid #00b207;
  border-radius: 50%;
}

.radio-button__input:checked + .radio-button__label::before{
  border:0px;
  background: url(../img/radio.svg);
}

.radio-button:has(.radio-button__input:disabled){
  cursor: auto;
}

.radio-button__input:disabled + .radio-button__label::before{
  border-color: #CCCCCC;
}

.radio-button__input:focus-visible + .radio-button__label{
  outline: 1px solid #000;
}

.btn{
  width: 100%;
  padding:16px 40px;
  background-color: #00b207;
  border-radius: 43px;
  color:#fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;
}