/* Скидання стилів */
@import url('fonts.css');
@import url('reset.css');
@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,700&display=swap");


body {
  font-size: 14px;
}

.header,.footer, h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

.container {
  
  margin: 0 auto;
  padding-left:15px;
  padding-right: 15px;
}

/* -------Task 01--------------- */

.container-ecobazar{
  max-width: 1320px;
}

.section-ecobazar {
  padding: 32px 0 80px;
}

[class*='section']{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.description-block {
  max-width: 650px;
  width: 100%;
  font-family: "Poppins" ,serif;
  font-weight: 400;
  line-height: 1.5;
  color: #808080;
}
.description-block > *{
  padding-bottom: 20px;
}
.description-block .last-element{
  padding-bottom: 0px;
}

.description-block > ul > li {
  padding:0 0 14px 28px;
  background: url("../img/check.svg") 0 0 / 20px no-repeat;
}




/* -------Task 02--------------- */

.section-hydra {
  padding: 100px 0;
  background: #302C42;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
}

.container-hydra{
  max-width: 1302px;
}

.aboutus-content{
  background: url('../img/lines.svg') -22px 18px / 1449px  no-repeat;
  margin: 0 -59px 108px;
  max-width: 1390px;
  font-size: 0;
}

.aboutus-content > div{
  display: inline-block;
  vertical-align: middle;
  padding:0 59px;
}

.img-container{
  max-width: 642px;
  
  overflow: clip;
  width: 100%;
}
.img-container>img{
  width: 100%;
  border-radius:40% 18% 43% 20% / 46% 20% 46% 20%;
}


.about-text>*{
  
  max-width: 630px;
  width: 100%;
}

.about-text > h3{
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.95);
  line-height: 1.39;
  margin-bottom: 42px;
}

.about-text > h3 > span{
  font-weight: 700;
  color: #fff;
}

.about-text > p{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.625;
  word-spacing: 1px;
  margin-bottom: 28px;
}

.about-text > a{
  max-width: 214px;
  border-radius: 40px;
  padding: 17px 47px 16px 39px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  color: #343045;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  
}

/* -------Task 03--------------- */

.get-in-touch-content {
  padding: 39px 26px 28.5px 39px;
  font-size: 0px;
  border-radius: 90px;
  background: radial-gradient(50.13% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.contacts-list > li{
  display: inline-block;
  padding:24px 0 27.5px 0;
  
}

.contact-item{
  width: 100%;
  border-right: 1px solid rgba(192, 183, 232, 0.33);
}

.contact-item.location{
  padding-left:70px;
  max-width: 402.5px;
  background: url("../img/location-icon.svg") 0px 15px / 70px no-repeat;
}

.contact-item.telefon{
  padding-left: 135.5px;
  max-width: 370px;
  background: url("../img/phone-icon.svg") 47.5px 25px / 59px no-repeat;
}

.contact-item.email{
  padding-left: 138px;
  max-width: 434px;
  background: url("../img/mail-icon.svg") 50px 17px / 65px no-repeat;
  border-right: 0;
}

.contact-item  .text-content h3{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 	1.208;
}

.contact-item  .text-content p{
  font-size: 14px;
  line-height: 1.43;
}

