/* Скидання стилів */
@import url('fonts.css');
@import url('reset.css');
@import url("https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Shantell+Sans:regular,800,600italic&display=swap");

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.header,.footer{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding-left:15px;
  padding-right: 15px;
  max-width: 1230px;
}

.section-web-grafik{
  font-family: "Shantell Sans", sans-serif;
  padding: 100px 0;
}

h2{
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  color: rgb(8, 8, 150);
}

.items {
  padding:0 15px;
  border: 5px solid rgb(15, 15, 173);
  border-radius: 30px;
}

.content-img{
  background-color: #c65cbd;
}

.content-img .img-container{
  max-width: 300px;
}

.icons{
  margin-bottom: 30px;
  background-color: rgba(15, 50, 167, 0.51);
}

.items > *:not(:last-child){
  border-bottom: 2px dotted rgb(15, 15, 173);
  
}

.item > *{
  padding:20px 0;
  vertical-align: top;
}

.item--blur > .img-container{
  filter: blur(0.7px);
}

.img-container{
  display: inline-block;
  padding-right: 100px;
  min-width: 500px;
  text-align: center;
}

.img-container > [src$=".svg"]{
  width: 50px;
  height: 50px;
}


.description{
  display: inline-block;
  
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}

.custom-border-radius{
  border-radius: 108px 0 108px 0;
}