/* Скидання стилів */
@import url('fonts.css');
@import url('reset.css');
@import url("https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap");

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.header,.footer, h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding-left:15px;
  padding-right: 15px;
  max-width: 1230px;
}


/* -------Task 01--------------- */
.section-experts {
  background-color: #412672;
  padding:61px 0 102px;
  line-height: 1.266;
}

.section-experts h3{
  color:#fff;
  font-size: 38px;
  line-height: 1.21;
  margin-bottom: 31px;
}
.section-experts h3>span{
  font-weight: 700;
}

.section-experts ul{
  font-size: 0px;
  margin: 0 -9.5px;
}

.section-experts li{
  display: inline-block;
  padding:0 9.5px;
  vertical-align: top;
  max-width: 406px;
  width: 100%;
}

.section-experts li>div>*:not(:last-child){
  margin-bottom: 16px;
}

.section-experts li>div{
  min-height: 476px;
  background-color: #fff;
  font-size: 15px;
  padding: 20px;
}

.section-experts li>div:hover{
  background-color: #FFBE48;
  box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00), 0px 246px 98px 0px rgba(0, 0, 0, 0.01), 0px 138px 83px 0px rgba(0, 0, 0, 0.05), 0px 62px 62px 0px rgba(0, 0, 0, 0.09), 0px 15px 34px 0px rgba(0, 0, 0, 0.10);
}

.section-experts h4{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.227;
}


.section-experts a{
  color: #FE3F3F;
}
/* -------Task 02--------------- */

.section-best-faculty{
  padding:55px 0 42px;
  color: #412672;
}

.section-best-faculty>div>div{
  max-width: 518px;
}

.section-best-faculty>div>div>*:not(:last-child){
  margin-bottom: 20px;
}

.section-best-faculty h3{
  font-size: 34px;
  line-height: 1.205;
}

.section-best-faculty h3>span{
  font-weight: 700;
}

.section-best-faculty p{
  font-size: 22px;
  line-height: 1.227;
}

.section-best-faculty li{
  color: #4F4F4F;
  font-size: 20px;
  line-height: 2.55;
}

.section-best-faculty li:before{
  content: "";
  vertical-align: middle;
  width:29px;
  height: 29px;
  background: url(../img/check.svg) 0 0/29px no-repeat;
  margin-right: 15px;
}

/* -------Task 03--------------- */

.section-game {
  background-color: #412672;
  padding: 100px 0;
  font-size: 0;
  min-height: 800px;
  
}

.game-content > div{
  display: inline-block;
  vertical-align: middle;
}

.block-start{
  min-width: 70px;
  min-height: 50px;
  background-color: #fff;
  padding:15px 0;
  text-align: center;
  font-size: 20px;
}

.game-content > div:hover + div, .game-content>div:hover{
  visibility: visible;
}

.game-content>div:hover:not(.block-end):not(.block-start){
  background: url(../img/sweets-bg.png) center / 50px repeat;
}

[class*='block']:not(:first-child){
  background-color: #fff;
  visibility: hidden;
}

.block-1{
  margin-left: -2px;
  min-width: 200px;
  min-height: 45px;

}

.block-2{
  margin: 0 0 -144px -10px ;
  min-width: 10px;
  min-height: 110px;

}

.block-3{
  margin: 0 0 -235px -2px ;
  min-width: 300px;
  min-height: 20px;
}

.block-4{
  margin: 0 0 -364px -2px ;
  min-width: 20px;
  min-height: 150px;
}

.block-5{
  margin: 0 0 -505px -301px ;
  min-width: 300px;
  min-height: 10px;
}

.block-6{
  margin: 0 0 -647px -301px ;
  min-width: 25px;
  min-height: 150px;
}

.block-7{
  margin: 0 0 -787px -2px ;
  min-width: 50px;
  min-height: 10px;
}

.block-8{
  margin: 0 0 -839px -15px ;
  min-width: 15px;
  min-height: 50px;
}

.block-9{
  margin: 0 0 -884px -3px ;
  min-width: 50px;
  min-height: 5px;
}

.block-10{
  margin: 0 0 -839px -15px ;
  min-width: 15px;
  min-height: 50px;
}

.block-11{
  margin: 0 0 -794px -3px ;
  min-width: 50px;
  min-height: 5px;
}
.block-end{
  margin: 0 0 -794px -3px ;
  max-width: 200px;
  
}

.block-end:hover{
  background: url(../img/ukrainien-flag.webp) center / cover no-repeat;
}
